/* :root {
  --color-web-blue: #2196f3;
  --color-text-main: #212121;
  --color-text-secondary: #757575;
  --color-fone: #f5f5f5;
  --transition-timing-cub: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
} */

/* ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
} */

/* .logo__web-header {
  border-bottom: 1px solid #ececec;
} */

/* .container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* header style */

/* .page-header__nav {
  display: flex;
} */

/* .page-header {
  align-items: center;

  display: flex;
} */

/* .contact {
  display: flex;
  margin-left: auto;
} */

/* .pagination__list {
  position: relative;
} */
/* 
.pagination {
  display: flex;
} */
/* 
.pagination :not(:last-child) {
  margin-right: 50px;
} */

/* .current {
  color: var(--color-web-blue);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-web-blue);
  border-radius: 2px;
} */

/* .contact :not(:last-child) {
  margin-right: 50px;
} */

/* .logo__web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #2196f3;
} */

/* address {
  font-family: Roboto;
  font-style: normal;
} */

/* ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: roboto, sans-serif;
} */

/* .footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .contact__item {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
  gap: 10px;
  justify-content: flex-end;
  color: var(--color-text-secondary);
  fill: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-timing-cub);
} */

/* .container.page-header {
  margin-bottom: 0px;
  justify-content: center;
} */

/* .address__maps:hover,
.logo:hover,
.logo:focus,
.link:hover,
.link:focus, */
/* .contact__item:hover,
.contact__item:focus, */
/* .address__item:hover,
.address__item:focus, */
/* .menu-portfolio-btn:hover,
.menu-portfolio-btn:focus { */
  /* color: var(--color-web-blue);
} */

/* .btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  background-color: var(--color-web-blue);
  color: #ffffff;
} */

/* .menu-portfolio-btn {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

  gap: 8px;
  color: var(--color-text-main);
  transform: color var(--transition-timing-cub);
} */

/* .btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 0px;
  background-color: #f5f4fa;

  color: #212121;
  cursor: pointer;

  transition: color var(--transition-timing-cub),
    background-color var(--transition-timing-cub),
    box-shadow var(--transition-timing-cub);
} */

/* .address__item {
  color: rgba(255, 255, 255, 0.6);
} */

/* .contact-list,
.link {
  color: var(--color-text-main);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.envelope::before {
  content: "";
  width: 16px;
  height: 12px;
} */

/* .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

/* .hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;
} */

/* .hero__title {
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 16px;
  height: 1.88;
} */

/* .hero h1 {
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
} */

/* .hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;

  cursor: pointer;
  border-radius: 4px;

  align-items: flex-start;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--color-web-blue);

  color: #ffffff;

  text-align: center;
  padding: 10px 32px;

  border: 0;
  letter-spacing: 0.06em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-features__item {
  width: 270px; */

/* 325-348-другий варіант */

/* .our-features__item::before {
  margin-bottom: 30px;
  display: block;
  width: 270px;
  height: 120px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;

  background-size: contain;
} 
 .our-features__item:nth-child(1)::before {
  background-image: url(../images/SVG/Group1.svg);
}
.our-features__item:nth-child(2)::before {
  background-image: url(../images/SVG/Group2.svg);
}
.our-features__item:nth-child(3)::before {
  background-image: url(../images/SVG/Group3.svg);
}
-.our-features__item:nth-child(4)::before {
  background-image: url(../images/SVG/Group4.svg);
} */ 
/* .our-features__img {
  display: flex;
  background-color: rgba(245, 244, 250, 1);

  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
} */

/* .our-features__list {
  display: flex;
  gap: 30px;
} */

/* .our-features__subject {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
} */
/* 
.our-features__text {
  display: flex;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* .

business-profiles {
  padding-bottom: 94px;
} */

/* .client {
  width: 170px;
  height: 92px;
}

.regular-customers__title {
  padding-bottom: 50px;
  text-align: center;
}

.client-list {
  box-sizing: border-box;
  display: flex;
  gap: 30px;
}

.client__icon:hover,
.client__icon:focus {
  fill: #2196f3;
}

.client__list:hover,
.client__list:focus {
  color: var(--color-web-blue);

  border-color: var(--color-web-blue);
}

.client__list {
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4%;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
} */

/* .business-profiles__list {
  display: flex;
  gap: 30px;
}

.business-profiles__item {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.business-profiles__text {
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

.
business-profiles__title {
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
       
.team__list {
  display: flex;

  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4%;

  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
} */

/* .link {
  display: inline-block;
  color: var(--color-text-main);
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

.team__profession {
  margin-bottom: 16px;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
}

.list-networks__icon {
  fill: currentColor;
} */

/* .icon-networks {
  width: 20px;
  height: 20px;
} */

/* .icon-footer {
  fill: #ffffff;
}

.social {
  align-items: baseline;
  display: inline-block;
  border: rgba(255, 255, 255, 1);

  text-align: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-networks-list {
  padding-bottom: 30px;
  justify-content: center;
  display: flex;

  gap: 10px;
}

.social-networks {
  text-align: center;

  display: flex;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
} */

/* .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-home {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portf-h-invis {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portf-h-invis {
  text-align: center;
}

.projects-h {
  margin-bottom: 4px;
  color: var(--color-text-main);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-p {
  color: var(--color-text-secondary);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  letter-spacing: 0.03em;
} */

/* .link-footer :not(:last-child) {
  margin-bottom: 9px;
} */

/* .address__maps {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  transition: color var(--transition-timing-cub);
}

.address__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .studio {
  color: #ffffff;
}

.footer-form {
  margin-left: auto;
} */

/* .footer-form__text {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;

}

.footer-form__wind {
  display: flex;
}

.footer-form__imput {
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;


}

.footer-form__btn {

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;


  color: #ffffff;
  background-color: var(--color-web-blue);
}

.footer-form__subscription {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
} */

/* .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-li:hover,
.projects-li:focus {
  box-shadow: cubic-bezier(0.4, 0, 0.2, 1), rgba(0, 0, 0, 0.25);
}

.projects-li {
  display: block;
  box-sizing: border-box;
  background: #ffffff;
  transition: box-shadow var(--transition-timing-cub);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projects-item {
  width: 370px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card {
  position: relative;
  overflow: hidden;
}

.projects-li:hover .overlay,
.projects-li:focus .overlay {
  transform: translateY(0%);
} */

/* .overlay {
  position: absolute;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;

  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  overflow-y: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer__logo {
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
} */
/* 
.person {
  padding: 20px 24px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
} */

/* .footer-block {
  display: flex;
}

.footer-soc-link {
   border: 0px;
  width: 206px;
  height: 80px; 
  display: flex;
  flex-direction: column;

  margin-left: 70px;
}

.social-link-footer {
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #757575;
  column-gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .list-networks__link {
  align-items: center;
  justify-content: center;

  display: flex;
  color: #afb1b8;
  column-gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color, color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-networks__link:hover {
  background-color: var(--color-web-blue);
  color: #ffffff;
}

.list-networks__icon:hover {
  fill: currentColor;
} */

/* .social-link-footer:hover {
  background-color: var(--color-web-blue);
} */

/* .social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer {
  align-items: baseline;
  display: flex;
}

.footer-text {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
} */
/* 
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .current {
  color: var(--color-web-blue);
} */

/* .backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 100500;

  transition: opacity var(--transition-timing-cub),
    visibility var(--transition-timing-cub);
} */

/* .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
} */

/* .backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
} */
/* 
.modal {
  width: 528px;
  height: 536px;
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  background-color: white;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-timing-cub);
} */

/* .close-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  border: rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--transition-timing-cub);
}

.close-btn:hover {
  fill: var(--color-web-blue);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.modal__title {
  margin-bottom: 12px;

  color: #212121;


  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

input {
  cursor: pointer;
}

textarea {
  height: 120px;
  width: 448px;

  border-radius: 4px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
  margin-bottom: 4px;



}

textarea {
  resize: none;
  cursor: pointer;
}

.modal__btn-icon {
  display: flex;


  border-radius: 50%;
  padding: 0px;
  border: rgba(0, 0, 0, 0.1);
}

.icon-send {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  padding: 0px;
  fill: #ffffff;
  border: none;

}

button {
  cursor: pointer;
}

.send {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  background-color: var(--color-web-blue);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--color-web-blue);
}

.imput-textarea {
  margin-bottom: 20px;

}

.modal__name {

  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .modal-check-imput{
  
  /* padding: 0px;
  position: absolute;
  appearance: none; */

/* .modal-check-imput-new {
  padding-right: 7px;
  height: 15px;
  width: 16px;

  border-radius: 0px;
  fill: #212121;
}

textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  border: 1px solid #21212133;
  transition: border-color var(--transition-timing-cub);
}

textarea:focus {
  border-color: var(--color-web-blue);
  outline: none;
}

.modal-check-imput:checked+.chek-box {
  fill: var(--color-web-blue);
  border: none;
}

.modal__imput:focus {
  fill: var(--color-web-blue);
  outline: none;
  border-color: var(--color-web-blue);

}

.modal__imput:focus+.modal__icon {
  fill: var(--color-web-blue);
}

.modal__imput {
  border: box;
  display: block;
  border: 1px solid #21212133;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #21212133;

  padding-left: 42px;
  transition: border-color var(--transition-timing-cub);
}

.modal__icon {

  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-text-main);
  transition: fill var(--transition-timing-cub);

}

.contract {
  color: var(--color-web-blue);
  text-decoration: underline;
}

.contract-term {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
}

.chek-box {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--color-text-main);
  fill: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  transition: border var(--transition-timing-cub), fill var(--transition-timing-cub);
}




.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
} */

 
/* } 
.modal-check-imput {appearance: none;} 