

.business-profiles {
    padding-bottom: 94px;
}
@media screen and (max-width:1199px){
    .business-profiles{display:none;}
  
}
@media screen and (min-width:1200px) {.regular-customers {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}
