h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: roboto, sans-serif;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}